.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
*.iml
app/student_homework_debug
app/student_homework_release
app/src/debug/google-services.json
app/src/release/google-services.json
keystore.properties
